
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"><html><head><META http-equiv="Content-Type" content="text/html; charset=utf-8"></head><body>











<div>

    <div>
        <div>
            <div>
                <div>
                    <div>
                        <span></span>
                        <h2>File Uploader</h2>
                        <h4><a href="http://coligo.io" target="_blank">coligo.io</a></h4>
                        <div>
                            <div></div>
                        </div>
                        <button type="button">Upload File</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <input type="file" name="uploads[]" multiple>




</div>

</body></html>